@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
.footer{
background-color: var(--black-color);
padding-block: 2rem;

	
		}
		
		
		.footer__container{
		row-gap: 3rem;
		
		
			}
					
					
		.footer__logo{
		justify-self: flex-start;
		color: var(--white-color);
		font-size: var(--h3-font-size);
		font-weight: var(--font-bold);
		
			}
			
			
			.footer__links{
				display:flex;
				flex-direction: column;	
				row-gap: .5rem;
					
					
					
			}
			
			.footer__link{
		color: var(--white-color);
		
			
			
			}
			
			
			.footer__social{
			display:flex;
			column-gap:.75rem;
			
			
				
			}
			
			.footer__social-link{
			color: var(--white-color);
			font-size: 1.5rem;
			transition: transform .4s;
			
			}
			
			
			.footer__social-link:hover{
			
			transform:translateY(-.25rem);
			
			
			}
			
			
			.footer__copy{
			display: block;
			margin-top:6rem;
			color: var(--white-color);
			text-align: center;
			font-size:var(--small-font-size);
			
			}