
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");


:root {
  --header-height: 3.5rem;


  --first-color: hsl(43, 90%, 50%);
  --first-color-alt: hsl(43, 88%, 48%);
  --text-color: hsl(0, 0%, 42%);
  --text-color-lighten: hsl(0, 0%, 92%);
  --black-color: hsl(0, 0%, 8%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 98%);
  --body-second-color: hsl(0, 0%, 100%);
  --shadow-img: -8px 8px 16px hsla(0, 0%, 0%, .2);


  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 4.5rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;


  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;


  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 10.5rem;
    --big-font-size: 5.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--black-color);
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
}


.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-extra-bold);
  color: var(--black-color);
  margin-bottom: 3rem;
}

.section__title span{
	color:var(--first-color);
	
	}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  margin-bottom: .5rem;
}

.main {
  overflow: hidden;
}





.home{
	position:relative;
height:730px;
	background-color: var(--body-second-color);
	
	
	
}
.home__bg,
.home__gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	
}

.home__bg{
	object-fit:cover;
	object-position:center;
	
}

.home__data{
	
	position:absolute;
	top:17rem;
	justify-self:center;
	text-align:center;
}

.home__subtitle{
	font-size: var(--small-font-size);
	font-weight:var(--font-semi-bold);
	letter-spacing: 1px;
	margin-bottom: .25rem;
}

.home__title{
	font-size: var(--big-font-size);
	font-weight: var(--font-extra-bold);
	letter-spacing: 2px;
	color: var(--white-color);
}

.home__button{
	position:absolute;
	bottom:5rem;
	justify-self:center;
	color: var(--white-color);
	width: 94px;
	height: 94px;
	border: 2px solid var(--white-color);
	border-radius: 50%;
	display:grid;
	place-content:center;
	text-align:center;
	padding-top:1rem;
	z-index:5;
}

.home__button span{
	font-weight: var(--font-semi-bold);
	
	
	
}

.home__button i{
	
	font-size: 1.5rem;
	
}

.home__swiper{
	
	position:relative;
}



.home__img{
	margin-top:100px;
	width:100px;
	margin-inline:auto;
	cursor:pointer;
}


.swiper{
	
	margin-inline: initial;
	align-self: center;
	margin-bottom: 1rem;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
	height:max-content;
	top:30rem;
	display:flex;
	justify-content:center;
	column-gap:1.5rem;
}


.swiper-pagination-bullet{
	color: var(--white-color);
	opacity: 1;
	background:none;
	font-size: var(--normal-font-size);
	font-weight:var(--font-semi-bold);
	transition: color .4s;
}


.swiper-pagination-bullet-active{
	color:var(--first-color);
	
	
	
}

.button{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	column-gap:5rem;
	background-color: var(--first-color);
	color: var(--black-color);
	padding: .75rem 2rem;
	font-weight: var(--font-semi-bold);
	box-shadow: 0 4px 12px hsla(43, 88%, 32%, .4);
}

.button i{
	font-weight: initial;
	font-size: 1.5rem;
	transition: transform .4s;
	
	
	
	}
	.button:hover i{
	transform: translateX(.5rem);
	
	
	}
	
	
	.button__ghost{
	background-color: transparent;
	box-shadow: none;
	border: 2px solid var(--black-color);
	color: var(--black-color);
	
	
	
	
		}



.about{
	
	
	background-color: var(--white-color);
	
	
}
.about__container{
	
	
	padding-bottom: 3rem;
	row-gap: 3rem;
}


.about__title{
	color: var(--black-color);
	margin-bottom: 1rem;
	
	
	
}

.about__title span{
	
	color:var(--first-color);
}

.about__data{
	
	text-align:center;
}

.about__description{
	
	margin-bottom: 1.5rem;
	color:var(--black-color);
}

.about__video{
	
	margin-left: 300px;
	position:relative;
	width:250px;
	height:320px;
	justify-self:center;
	box-shadow:var(--shadow-img);
	transform:skew(-12deg);
	display:grid;
	overflow:hidden;
}

.about__file{
	max-width:initial;
	height:320px;
	transform:skew(12deg);
	position:absolute;
	justify-self:center;
}



.models__container{
	grid-template-columns: 250px;
	justify-content: center;
	row-gap: 2rem;
	
	
	}
	
	.models__card{
	position:relative;
	transform: skew(-12deg);
	box-shadow: var(--shadow-img);
	
	}
	.models__gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 70%, hsl(0, 0%, 0%) 100%  );
	
	
	}
	
	.models__data{
	position:absolute;
	bottom: 1rem;
	left:1.5rem;
	color:var(--white-color);
	transform: skew(12deg);
	
	
	}
	
	.models__name{
	font-size: var(--h3-font-size);
	margin-bottom: .25rem;
	transition: transform .4s, opacity .4s;
	
	
	}
	
	.models__info{
	
	display: block;
	font-size: var(--small-font-size);
	transition: transform .4s .1s, opacity .4s .1s;
	
	
	
	}
	
	.models__name,
	.models__info{
	transform: translateX(5rem);
	opacity: 0;
	
	
		}
		
		.models__card:hover :is(.models__name, .models__info){
		transform: translateX(0);
		opacity: 1;
		
		}
		
	

.contact{

	background-color: var(--black-color);
	
	
		}
		
		.contact__container{
		row-gap:3rem;
		padding-bottom: 2rem;
		
		
		}
		
	.contact__title{
	color: var(--white-color);
	margin-bottom:4rem;
	
	}
	
	.contact__title span{
	color:var(--first-color);
	
	}
	
	.contact__form{
	row-gap:2rem;
	}
	
	.contact__inputs{
	row-gap:2.5rem;
	
	}
	
	.contact__box{
	position:relative;
	width:100%;
	height:58px;
	
	}
	
	.contact__input{
	width:100%;
	height:100%;
	background-color: var(--white-color);
	border: 2px solid var(--white-color);
	font-weight:var(--font-semi-bold);
	padding: .75rem;
	color: var(--black-color);
	
	}
	
	
	.contact__input::placeholder{
	color:var(--black-color);
	
	
		}
		
		
		.contact__label{
		position:absolute;
		top: -1.5rem;
		left:0;
		color: var(--white-color);
		font-size:var(--smaller-font-size);
		font-weight: var(--font-semi-bold);		
		
			}
			
			
			.contact__input:-webkit-autofill{
			transition: background-color 6000s, color 6000s;
			
				}
				
				
				.contact__button{
				cursor:pointer;
				
					}
					
					
					.contact__img{
					width:250px;
					transform: skew(-12deg);
					justify-self:center;
					box-shadow: var(--shadow-img);
					}
					



::-webkit-scrollbar{
	width: .6rem;
	background-color: hsl(0, 0%, 80%);
	
	
	}
	
	
	::-webkit-scrollbar-thumb{
	background-color: hsl(0, 0%, 60%);
	
	
	}
	
		::-webkit-scrollbar-thumb:hover{
	background-color: hsl(0, 0%, 50%);
	
	
	}



 @media screen and (max-width:320px){
	.container{
	margin-inline: 1rem;
	 }
	 
	 
	 .home__title{
	 font-size: 2rem;
	 
	 }
	.home__img{
	width:270px;
	
	 }
	 
	 .about__video{
	 width:200px;
	 height:250px;
	 
	 }
	 
	 
	 .models__container{
	 grid-template-columns: 200px;
	 
	 }
	 
	.contact__img{
	 width:200px;
	 
	 
	  }
	 
	}



 @media screen and (min-width:576px){
 	
 	.about__container,
 	.contact__container{
 	grid-template-columns: 400px;
 	justify-content:center;
 	
 	
 	 }
 

 
 }
 
  @media screen and (min-width:768px){
  .models__container{
  grid-template-columns: repeat(2, 250px);
   }
   
   

      
   }
   
   
 
 


 @media screen and (min-width:1150px){
 .container{
 margin-inline:auto;
 
 
 }
 .section{
 padding-block: 7rem 2rem;
 
 
 }
 .section__title{
 margin-bottom:4rem;
 
 }
 

 
 .home{
 height: 830px;
 
 
 }
 .home__subtitle{
 font-size:var(--normal-font-size);
 letter-spacing: 3px;
 
 
 }
 .home__title{
 letter-spacing: 3px;
 }
 .home__img{
 width:150px;
 
 }
 .home__data{
 top: 15rem;
 
 }
 .home__button{
 bottom:2rem;
 
 }
 .swiper{
 margin-block-start: 1rem 0;
 }
 .swiper-pagination-bullets.swiper-pagination-horizontal{
 top:39rem;
 column-gap: 2rem;
 }
 
 .about__container{
 grid-template-columns: 400px 450px;
 align-items: center;
 column-gap:12rem;
 padding-bottom: 5rem;
 
  }
  
  .about__title,
  .about__data{
  text-align:initial;
  
  }
  .about__title{
  margin-bottom: 1rem;
    }
    
    .about__description{
    margin-bottom: 3.5rem;
      }
    .about__video{
    width:450px;
    height:570px;
    
         }
         
         .about__file{
         height: 580px;
         
         
           }
           
           .models__container{
           grid-template-columns:repeat(3, 350px);
           column-gap: 2rem;
           
           
             }
             
             .models__data{
             bottom: 2.5rem;
             left: 2rem;
             
                    }
                    
                    .models__info{
                    font-size: var(--normal-font-size);
                            }
                            
                       
                            
                            
                        
 
 }
 
  @media screen and (min-width: 2048px){
  body{
  zoom: 1.4;
  
  
  }
   }
 
 /* =========================================
   FIX IMMAGINI SEZIONE MODELS (Puzzle Fit)
========================================= */

/* 1. Regole Base per tutte le Card e Immagini */

.models__card {
    /* È FONDAMENTALE dare un'altezza fissa alle card, 
       altrimenti si schiacciano sull'immagine.
       Questo valore è l'altezza "standard" per tutte. */
    height: 300px; 
    /* Assicura che le parti ritagliate dell'immagine non sbordino */
    overflow: hidden; 
    /* Mantiene le tue regole esistenti (skew, shadow, position) */
}

.models__img {
    /* Forza l'immagine a occupare tutto lo spazio della card */
    width: 100%;
    height: 100%;
    /* LA PARTE MAGICA: Ritaglia l'immagine per riempire senza deformare */
    object-fit: cover; 
    /* Punto focale di default: centro esatto */
    object-position: center center; 
    /* Transizione fluida se cambi la posizione all'hover (opzionale) */
    transition: transform 0.4s, object-position 0.4s; 
}

/* =========================================
   PERSONALIZZAZIONE CARD SPECIFICHE (1, 3, 4, 5)
   Gioca con i valori 'height' (altezza card) e 
   'object-position' (inquadratura foto) per il fit perfetto.
========================================= */

/* --- Card 1: Bugatti (Prima in alto a sinistra) --- */
.models__card:nth-child(1) {
    /* Esempio: Se la foto è molto "alta", aumenta questo valore */
    margin-top: 90px;
    height: 200px; 
}
.models__card:nth-child(1) .models__img {
    /* object-position: orizzontale verticale;
       Se l'auto è troppo in basso, prova 'center 30%' o 'center top' */
    object-position: center center;
}

/* --- Card 3: McLaren (Prima fila, a destra) --- */
.models__card:nth-child(3) {
    /* Esempio: Se la foto è molto "larga", diminuisci l'altezza */
    height: 280px;
}
.models__card:nth-child(3) .models__img {
    /* Magari questa va inquadrata leggermente più in alto del centro */
    object-position: center 40%;
}

/* --- Card 4: La Ferrari (Seconda fila, a sinistra) --- */
.models__card:nth-child(4) {
    height: 310px;
}
.models__card:nth-child(4) .models__img {
    object-position: center center;
}

/* --- Card 5: Koenigsegg (Seconda fila, al centro) --- */
.models__card:nth-child(5) {
    height: 240px;
}
.models__card:nth-child(5) .models__img {
    /* Esempio: Spostiamo il punto focale più a destra e in alto */
    object-position: 60% 30%;
}

.models__card:hover .models__img {
    transform: scale(1.05); 
}